#blog h3{
    text-align: center;
}
#blog{
    background: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}
#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#blog article{
    margin: 15px;
}
#blog img{
    width: 100%;
    max-width: 280px;
    border-radius: 50%;
    border: 5px solid #333333;
}