.tabla{
    text-align: center;
    width: 30%;
    margin-left: 460px;
    padding: 1px;
    margin-top: 10px;
}   
.bookg{
    margin-top: 50px;
    text-align: center;
    align-content: center;
    background-color: #333;
    color: #ffffff;
}
.td{
    text-align: center;
    width: 30%;
    /* margin-left: 460px; */
    padding: 1px;
    margin-top: 10px;
    border: 1px solid #ffffff;
    padding: 10px;
}
.actualizar {
    align-items: center;
    margin-top: 20px;
    font-family: "Arial Black";
    background: #ffffff; 
    width: 200px;
    padding: 10px;
    color: #333;
    font-size: 20px;
    font-weight: 80;
    font-variant-caps: small-caps;
}
.label{
    margin-bottom: 10px;
    margin-top: 10px;
    color: #ffffff;
}
footer{
    color: #ffffff
}