.overlay{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay.active{
    visibility: visible;
}
.popup{
    background: #333333;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
    border-radius: 3px;
    font-family: 'Open Sans',sans-serif;
    padding: 20px;
    text-align: center;
    width: 680px;


}
.popup .btn-cerrar{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #ffffff;
    transition: .3s ease all;
}
.popup .btn-cerrar:hover{
    color: #000000;

}